<div class="section-wrapper" [formGroup]="propertyForm">

  <div class="form-grid">

    <!-- Property Type -->
    

    <!-- Property Category -->
    <div class="form-group">
      <label>Property Category</label>

      <select formControlName="propertyCategoryId">

        <option [ngValue]="null">Select Category</option>

        @for(category of propertyCategories; track category){
        <option [ngValue]="category">
          {{category}}
        </option>
        }

      </select>
    </div>
<div class="form-group">
      <label>Property Type</label>
      <select formControlName="propertyTypeId">

        <option [ngValue]="null">Select Property Type</option>

        @for(type of propertyTypes; track type){
        <option [ngValue]="type">
          {{type}}
        </option>
        }

      </select>
    </div>
    <!-- ARV Residential -->
    <div class="form-group">
      <label>ARV Residential</label>
      <input type="text" formControlName="arvResidential" placeholder="ARV Residential">
    </div>

    <!-- ARV Effective -->
    <div class="form-group">
      <label>ARV Effective From</label>
      <input type="date" formControlName="arvEffectiveFrom">
    </div>

    <!-- Applicable Taxes -->
    <div class="form-group full-row">

      <label>Applicable Taxes</label>

      <div class="checkbox-group">

        <label class="checkbox-item">
          <input type="checkbox" formControlName="houseTax">
          House Tax
        </label>

        <label class="checkbox-item">
          <input type="checkbox" formControlName="waterTax">
          Water Tax
        </label>

        <label class="checkbox-item">
          <input type="checkbox" formControlName="sewerTax">
          Sewer / Drainage Tax
        </label>

      </div>

    </div>

    <!-- Attach Documents -->
    <div class="form-group">
      <label>Attach Documents</label>
      <input type="file">
    </div>

    <!-- Deactivate -->
    <div class="form-group">
      <label class="checkbox-item">
        <input type="checkbox" formControlName="deactivateOldProperty">
        Deactivate Selected Old Property
      </label>
    </div>

  </div>

</div>