<div class="top-bar">

<h2>Property List</h2>
  <!-- <select  class="zone-select">
    <option  class="zone-select"value="">Select Zone</option>
    <option *ngFor="let z of zones" [value]="z.name">
      {{z.name}}
    </option>
  </select> -->
<div class="right-section"
     appClickOutside
     (clickOutside)="closeMenus()">

  <!-- Zone Filter -->


  <!-- Search Filter -->
  <input
    type="text"
    placeholder="Search..."
    class="search-input"
   >
  <i-feather
    name="filter"
    class="icon"
    (click)="toggleFilterPopup()">
  </i-feather>
  <div class="filter-popup" *ngIf="showFilterPopup">

    <select (change)="filterZone($event)">
   
      <option *ngFor="let z of zones" [value]="z.id">
        {{z.name}}
      </option>
    </select>

    <select (change)="filterWard($event)">
      <option value="">Ward</option>
      <option *ngFor="let w of wards" [value]="w.id">
        {{w.name}}
      </option>
    </select>

    <select >
      <option value="">Locality</option>
      <option *ngFor="let l of localities" [value]="l">
        {{l.name}}
      </option>
    </select>

  </div>
  <!-- Eye icon -->
  <i-feather
    name="eye"
    class="icon"
    (click)="toggleColumnMenu()">
  </i-feather>

  <!-- Three dots -->
  <span class="icon dots" (click)="toggleActionMenu()">⋯</span>

  <!-- Column Dropdown -->
  <div class="column-dropdown" *ngIf="showColumnDropdown">

    <div *ngFor="let col of colDefs" class="column-item">

      <i-feather
        [name]="isColumnVisible(col) ? 'eye' : 'eye-off'"
        class="icon"
        (click)="toggleColumn(col)">
      </i-feather>

      <span>{{col.headerName}}</span>

    </div>

  </div>

  <!-- Action Dropdown -->
  <div class="action-dropdown" *ngIf="showActionMenu">

    <div class="menu-item" (click)="openModal()">
      <i-feather name="plus" class="menu-icon"></i-feather>
      <span>Create</span>
    </div>

    <div class="menu-item">
      <i-feather name="edit" class="menu-icon"></i-feather>
      <span>Update</span>
    </div>

    <div class="menu-item delete">
      <i-feather name="trash-2" class="menu-icon"></i-feather>
      <span>Delete</span>
    </div>

  </div>

</div>

</div>


@if(isModal) {
  <div class="modal-overlay">
    <div class="modal-box">
      <app-create-property (close)="closeModal()"></app-create-property>
    </div>
  </div>
}


<div class="ag-theme-alpine" style="height:500px;width:100%;">
  <ag-grid-angular
    style="width:100%;height:100%;"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
    [columnDefs]="colDefs"
    pagination="true"
    [gridOptions]="{ theme: 'legacy' }">
  </ag-grid-angular>
</div>

