.header {
  height: 60px;
  // background: #fff;
  display: flex;  
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
}

.menu-btn {
  display: none;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
}

.header input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.profile {
  font-weight: 500;
margin-left: auto;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
}
.profile{
display:flex;
align-items:center;
gap:10px;
margin-left:auto;
}

.profile-img{
width:35px;
height:35px;
border-radius:50%;
object-fit:cover;
}
