<div class="form-wrapper" [formGroup]="propertyForm">

  <div class="form-grid">

    <!-- Zone -->
    <div class="form-group">
      <label>Zone</label>
      <select formControlName="zone">
        <option [ngValue]="null">Select Zone</option>

        @for(zone of zones; track zone.id){
        <option [ngValue]="zone">
          {{zone.name}}
        </option>
        }
      </select>
    </div>

    <!-- Ward -->
    <div class="form-group">
      <label>Ward</label>
      <select formControlName="ward">

        <option [ngValue]="null">Select Ward</option>

        @for(ward of wards; track ward.id){
        <option [ngValue]="ward">
          {{ward.name}}
        </option>
        }

      </select>
    </div>

    <!-- Ward Name -->
    <div class="form-group">
      <label>Ward Name</label>
      <input 
        type="text" 
        formControlName="wardName"
        placeholder="Enter Ward Name">
    </div>

    <!-- Locality -->
    <div class="form-group">
      <label>Locality Name</label>
      <select formControlName="locality">

        <option [ngValue]="null">Select Locality</option>

        @for(locality of localities; track locality.id){
        <option [ngValue]="locality">
          {{locality.name}}
        </option>
        }

      </select>
    </div>

    <!-- Owner -->
    <div class="form-group">
      <label>Owner Name</label>
      <input 
        type="text" 
        formControlName="ownerName"
        placeholder="Enter Owner Name">
    </div>

    <!-- Father/Husband -->
    <div class="form-group">
      <label>Father / Husband Name</label>
      <input 
        type="text" 
        formControlName="fatherName"
        placeholder="Enter Father / Husband Name">
    </div>

    <!-- Old House -->
    <div class="form-group">
      <label>Old House No</label>
      <input 
        type="text" 
        formControlName="oldHouseNo"
        placeholder="Enter Old House No">
    </div>

    <!-- New Sequence -->
    <div class="form-group">
      <label>New Sequence No</label>
      <input 
        type="text" 
        formControlName="sequenceNo"
        placeholder="Enter New Sequence No">
    </div>

    <!-- Road Width -->
    <div class="form-group">
      <label>Road Width</label>
      <input 
        type="text" 
        formControlName="roadWidth"
        placeholder="Enter Road Width (in ft)">
    </div>

    <!-- Mobile -->
    <div class="form-group">
      <label>Mobile No</label>
      <input 
        type="text" 
        formControlName="mobileNo"
        placeholder="Enter Mobile Number">
    </div>

    <!-- Street Name -->
    <div class="form-group">
      <label>Street Name</label>
      <input 
        type="text" 
        formControlName="streetName"
        placeholder="Enter Street Name">
    </div>

    <!-- Street No -->
    <div class="form-group">
      <label>Street No</label>
      <input 
        type="text" 
        formControlName="streetNo"
        placeholder="Enter Street No">
    </div>
   <div class="form-group">
  <label>Built Type</label>

  <select formControlName="builtType">
    <option value="">Select Built Type</option>

    <option value="kaccha">कच्चा</option>
    <option value="pakka">पक्का</option>
    <option value="ardh_pakka">अर्धपक्का</option>

  </select>
</div>

    <!-- Total Plot Area -->
    <div class="form-group">
      <label>Total Plot Area</label>
      <input 
        type="text" 
        formControlName="plotArea"
        placeholder="Enter Total Plot Area (sq ft)">
    </div>

  </div>

</div>