.section-wrapper{
width:100%;
padding-top:10px;
}

.section-title{
background:#3b78b5;
color:#fff;
padding:8px 12px;
font-size:14px;
font-weight:500;
margin-bottom:15px;
}

.form-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.form-group{
display:flex;
flex-direction:column;
}

.form-group label{
font-size:14px;
margin-bottom:6px;
color:#444;
}

.form-group input{
width:100%;
padding:10px;
border:1px solid #ddd;
border-radius:6px;
}

/* Tablet */

@media(max-width:1024px){
.form-grid{
grid-template-columns:repeat(2,1fr);
}
}

/* Mobile */

@media(max-width:768px){
.form-grid{
grid-template-columns:1fr;
}
}