.layout {
  display: flex;
}

.main {
  margin-left: 250px;
  width: 100%;
}

.content {
  padding: 20px;
  // background: #f5f7fb;
  min-height: calc(100vh - 60px);
}

/* MOBILE */
@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}